body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/background.jpg');


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#search-bar{
  width:50%;
  padding:2% 0%;
  opacity: 80%;
}

.mx-auto{
  max-width: 75vw;
  margin:2.5rem;
  
}

.weather-card{
  margin:1.5rem;
  margin-top:auto;
  opacity: 80%;
  text-align: center;
  justify-content: center;
}

#card-img{
  max-height:40vh;
}



.five-day-weather-card{
  opacity: 80%;
  margin:1.5rem;
  text-align: center;
  justify-content: center;

}

.li-temp {
  list-style-image: url('../public/li-temp.svg');
}

.li-chance-of-rain {
  list-style-image: url('../public/li-chance-of-rain.svg');
}

.li-cold-temp {
  list-style-image: url('../public/li-cold-temp.svg');
}

.li-hot-temp {
  list-style-image: url('../public/li-hot-temp.svg');
}

.li-night {
  list-style-image: url('../public/33_Clear.svg');
}

.li-rain-type-intensity {
  list-style-image: url('../public/li-rain-type-intensity.svg');
}

.li-day{
  list-style-image: url('../public/li-day.svg');
}
.footer {
  background-color: #b7afac;
  bottom: 0;
  position:fixed;
  width: 100vw;
  text-align: center;
  opacity: 25%;
  z-index: -1;
  
}
.icons {
  margin: 5px 10px;
}
